﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpeg" alt="pic1" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpeg" alt="pic2" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpeg" alt="pic3" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br />
<div class="text-center">
    <h2>Welcome to WebClinic!</h2>
    <h3>We heartily encourage you to take a look at our website and use our services!</h3>
</div>