﻿@page
@model WebClinic.Pages.DoctorVisits.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Cancel visit</h2>

<h3>Are you sure you want to cancel this visit?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.PatientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.WebClinicPatient.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.DateOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.DateOnly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.TimeOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.TimeOnly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Treatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Treatment.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Visit.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
