﻿@page
@model WebClinic.Pages.DoctorVisits.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Doctor visits</h2>
<br />

<!--<p>
    <a asp-page="Create">Create New</a>
</p>-->

<h3>Previous visits</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].DateOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].TimeOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Visit)
        {
            @if (item.DateTime.CompareTo(DateTime.Now) == -1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebClinicPatient.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Treatment.Name)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Upcoming visits</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].DateOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].TimeOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Visit)
        {
            @if (item.DateTime.CompareTo(DateTime.Now) != -1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebClinicPatient.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Treatment.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Delay</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Cancel</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
