﻿@page
@model WebClinic.Pages.Visits.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details of your visit</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.PatientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.WebClinicPatient.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.WebClinicPatient.PeselNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.WebClinicPatient.PeselNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.DateOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.DateOnly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.TimeOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.TimeOnly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Treatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Treatment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Treatment.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Treatment.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.DoctorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.WebClinicDoctor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Delay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Delay)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to My visits</a>
</div>
