﻿@page
@model WebClinic.Pages.Visits.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit your visit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Visit.Id" />
            <div class="form-group">
                <label asp-for="Visit.DateOnly" class="control-label"></label>
                <input asp-for="Visit.DateOnly" class="form-control" />
                <span asp-validation-for="Visit.DateOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.TimeOnly" class="control-label"></label>
                <input asp-for="Visit.TimeOnly" class="form-control timepicker" />
                <span asp-validation-for="Visit.TimeOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.TreatmentId" class="control-label"></label>
                <select asp-for="Visit.TreatmentId" class="form-control" asp-items="ViewBag.TreatmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.DoctorId" class="control-label"></label>
                <select asp-for="Visit.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
