﻿@page
@model WebClinic.Pages.ManageUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.PeselNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.PeselNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.Role.NormalizedName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WebClinicUser.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
