﻿@page
@model WebClinic.Pages.ManageUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.PeselNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.PeselNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebClinicUser.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebClinicUser.Role.NormalizedName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
