﻿@page
@model WebClinic.Pages.Treatments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete treatment</h2>

<h3>Are you sure you want to delete this treatment?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Cost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Treatment.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
