﻿@page
@model WebClinic.Pages.Treatments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Treatment details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Treatment.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
