﻿@page
@model WebClinic.Pages.Treatments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit treatment</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Treatment.Id" />
            <div class="form-group">
                <label asp-for="Treatment.Name" class="control-label"></label>
                <input asp-for="Treatment.Name" class="form-control" />
                <span asp-validation-for="Treatment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Cost" class="control-label"></label>
                <input asp-for="Treatment.Cost" class="form-control" />
                <span asp-validation-for="Treatment.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
